Materials P1/
ScanScoreSctipts
saved_meth.cpp
Second Python/Assign7/training
Second Python/Assign7/trainextra
Second Python/Assign7/results
Second Python/Assign7/training_10
Second Python/Assign7/materials
Second Python/Assign7/inpainting-project
RCE
ScanScoreSctipts
CNNAdv

# Unwated formats
*.pdf
*.docx
*.doc
*.pptx
*.ppt
*.xlsx
*.xls
*.csv
*.txt
*.zip
*.rar
*.7z
*.tar
*.gz
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.eps
*.pyc
*.pkl
*.pt
*.tree
*.hash
*.bin
*.dat
*.json
*.egg-info
*.egg
*.path