Second Python/U2/input
Second Python/U2/output
Materials P1/
Second Python/U3-5/04_images
Second Python/U5/05_images
Algorithms 1/12148222_Vakhitov (2).zip
ScanScoreSctipts/in_out_f
ScanScoreSctipts/vars.py
Algorithms 1/12148222_Vakhitov_3.zip
Algorithms 1/12148222_Vakhitov_4.zip
